:root {
  --color-light: #f0fbe6;
  --color-dark: #333;
  --body-bg: var(--color-light);
  --cell-bg: #1a3636;
  --aside-bg: #677d6a;
  --text-color: var(--color-dark);
  --text-color-reverse: var(--color-light);
  --live-cell-bg: #aeaeae;
  --play-btn-bg: green;
  --pause-btn-bg: red;
  --live-cell-hover: #e4003a;
  --spacing: 8px;
  --spacing-x2: calc(var(--spacing) * 2);
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-bg: var(--color-dark);
    --text-color: var(--color-light);
    --text-color-reverse: var(--color-dark);
    --aside-bg: #1a3636;
  }
}

body {
  margin: 0;
  background-color: var(--body-bg);
}

* {
  margin: 0;
  padding: 0;
}

#app {
  display: grid;
  align-items: stretch;
  justify-content: stretch;
  min-height: 100vh;
  grid-template-columns: 300px 1fr;
}

button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
}

.text-field,
button {
  height: 32px;
  border-radius: 4px;
  padding: 4px 8px;
  border: none;
  color: var(--text-color);
  background-color: var(--body-bg);
}

aside {
  background-color: var(--aside-bg);
  padding: 20px;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  gap: var(--spacing-x2);
}

.toggle {
  background-color: var(--pause-btn-bg);
  color: var(--color-light);
}

.toggle.toggle-active {
  background-color: var(--play-btn-bg);
}

.text-field {
  display: flex;
  gap: var(--spacing-x2);
  align-items: center;
}

.text-field > * {
  flex: 1;
}

.text-field span {
  width: 40px;
  font-weight: 500;
  padding-left: var(--spacing);
}

.text-field input {
  background-color: inherit;
  color: inherit;
  height: 100%;
  border-width: 0;
  border-bottom: 1px solid var(--text-color);
  padding-inline: var(--spacing);
}

.world {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  align-items: stretch;
  justify-content: stretch;
}

.row {
  display: flex;
  flex: 1;
}

.cell {
  border: 1px solid black;
  background-color: var(--cell-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  flex: 1;
}

.cell:not(.live):hover {
  background-color: var(--live-cell-bg);
}

.live {
  background-color: var(--live-cell-bg);
}

.live:hover {
  background-color: var(--live-cell-hover);
}

.spacer {
  flex: 1;
}
