:root {
  --body-bg: #fffbe6;
  --side-bar-bg: #677d6a;
  --input-text: black;
  --cell-bg: #1a3636;
  --live-cell-bg: #aeaeae;
  --play-btn: green;
  --pause-btn: red;
  --live-cell-hover: #e4003a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-bg: #1e201e;
    /* --side-bar-bg: #1a3636; */
  }
}

body {
  margin: 0;
  background-color: var(--body-bg);
}

* {
  margin: 0;
  padding: 0;
}

#app {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  min-height: 100vh;
}

button {
  border: none;
  padding: 10px;
  border-radius: 7px;
}

button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

input {
  border: none;
  color: black;
  text-align: center;
  padding: 10px;
  width: 180px;
  margin: 5px 0 5px 0;
  border-radius: 7px;
}

.side-bar {
  background-color: var(--side-bar-bg);
  width: 200px;
  min-height: 100vh;
  align-content: center;
  padding: 0 20px 0 20px;
}

.play-pause-active.play-pause {
  background-color: var(--play-btn);
}

.play-pause {
  background-color: var(--pause-btn);
  color: white;
  width: 200px;
  margin: auto;
}

#next-step {
  width: 200px;
  margin-top: 10px;
}

#clear,
#reset {
  width: 95px;
  margin: 10px 0 5px 0;
}

#clear {
  float: right;
}

#inputs-section {
  width: 180px;
}

#apply-changes {
  width: 100%;
  margin-top: 5px;
}

.world {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  align-items: stretch;
  justify-content: stretch;
}

.row {
  display: flex;
  flex: 1;
}

.cell {
  border: 1px solid black;
  background-color: var(--cell-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  flex: 1;
}

.cell:not(.live):hover {
  background-color: var(--live-cell-bg);
}

.live {
  background-color: var(--live-cell-bg);
}

.live:hover {
  background-color: var(--live-cell-hover);
}
