:root {
  --cell-bg: #1a3636;
  --live-cell-bg: #aeaeae;
  --header-bg: #677d6a;
}

* {
  margin: 0;
  padding: 0;
}

#app {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

header {
  display: flex;
  gap: 16px;
  height: 64px;
  align-items: center;
  justify-content: center;
  background-color: var(--header-bg);
}

header div {
  color: white;
  padding: 8px;
  border-radius: 7px;
}

button {
  border: none;
  padding: 10px;
  border-radius: 7px;
}

button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

input {
  border: none;
  color: black;
  text-align: center;
  padding: 10px;
  border-radius: 7px;
}

.world {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.cell {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  background-color: var(--cell-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.live {
  background-color: var(--live-cell-bg);
}
